.searchCont {
    border-radius: 0;
    background-color: #eee;
    padding: 2%;
}

.searchHeader {
    margin-bottom: 5%;
}

.form-control {
    border-radius: 0;
}

.searchBtn {
    background-color: #ffce44;
}